/* Style for the root pane */
#rootPane {
    -fx-background-color: lightblue;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-style: solid;
}

/* Style for the game canvas */
#gameCanvas {
    -fx-background-color: lightgray;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-style: solid;
}

#infoVBox {
    -fx-background-color: lightgray;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

/* Style for the remaining balls text */
#remainingBallsText {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: darkred;
}

/* Style for the start menu VBox */
.vbox {
    -fx-spacing: 20;
    -fx-padding: 20;
    -fx-background-color: lightblue;
}

.stack-pane {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-style: solid;
}

/* Style for the start menu text */
.text {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: Black;
}

/* Style for the start menu button */
.button {
    -fx-padding: 10 20;
    -fx-background-color: darkblue;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

